
{% set content = {
    "meta": {
        "paging": {
            "limit": 1,
            "after": "30566675-268b-40f0-b278-7e41d899ff00"
        }
    },
    "links": {
        "next": "https://api.ibanity.com/ponto-connect/accounts?page[after]=30566675-268b-40f0-b278-7e41d899ff00&page[limit]=1",
        "first": "https://api.ibanity.com/ponto-connect/accounts?page[limit]=1"
    },
    "data": [
    ]
}
%}
{% set data = [] %}
{% for account in accounts %}
{% set data = data|merge([
{
    "type": "account",
    "relationships": {
        "transactions": {
            "links": {
                "related": "https://api.ibanity.com/ponto-connect/accounts/30566675-268b-40f0-b278-7e41d899ff00/transactions",
                "meta": {
                    "type": "transaction"
                }
            }
        },
        "financialInstitution": {
            "links": {
                "related": "https://api.ibanity.com/ponto-connect/financial-institutions/9251e765-bfbe-48b0-a082-3b043c386131"
            },
            "data": {
                "type": "financialInstitution",
                "id": "9251e765-bfbe-48b0-a082-3b043c386131"
            }
        }
    },
    "meta": {
        "synchronizedAt": "{{account.synchronizedAt|date}}",
        "latestSynchronization": {
            "type": "synchronization",
            "id": "0fb537de-456b-469d-aadd-68187dd8012b",
            "attributes": {
                "updatedAt": "2021-02-11T15:00:44.619Z",
                "subtype": "accountDetails",
                "status": "error",
                "resourceType": "account",
                "resourceId": "30566675-268b-40f0-b278-7e41d899ff00",
                "errors": [
                    {
                        "detail": "Authorization has expired. Please reauthorize the account.",
                        "code": "authorizationExpired"
                    }
                ],
                "createdAt": "2021-02-11T15:00:44.451Z"
            }
        },
        "availability": "available"
    },
    "id": "{{account.id}}",
    "attributes": {
        "subtype": "{{account.subtype}}",
        "referenceType": "{{account.referenceType}}",
        "reference": "{{account.reference}}",
        "product": "{{account.product}}",
        "internalReference": "{{account.internalReference}}",
        "holderName": "{{account.holderName}}",
        "description": "{{account.description}}",
        "deprecated": "{{account.deprecated}}",
        "currentBalanceVariationObservedAt": "{{account.currentBalanceVariationObservedAt|default|date}}",
        "currentBalanceReferenceDate": "{{account.currentBalanceReferenceDate|date}}",
        "currentBalanceChangedAt": "{{account.currentBalanceChangedAt|date}}",
        "currentBalance": "{{account.currentBalance}}",
        "currency": "{{account.currency}}",
        "availableBalanceVariationObservedAt": "{{account.availableBalanceVariationObservedAt|date}}",
        "availableBalanceReferenceDate": "{{account.availableBalanceReferenceDate|date}}",
        "availableBalanceChangedAt": "2{{account.availableBalanceChangedAt|date}}",
        "availableBalance": "{{account.availableBalance}}",
        "authorizedAt": "{{account.authorizedAt|date}}",
        "authorizationExpirationExpectedAt": "{{account.authorizationExpirationExpectedAt|date}}"
    }
}]) %}
{% endfor %}

{#{{ accounts|json_encode }}#}
{#{{ data|json_encode|raw }}#}
{#{% set content['data'] = data %}#}

{{ content|json_encode|raw}}
