{
    "meta": {
        "synchronizedAt": "2020-07-15T12:07:31.316Z",
        "paging": {
            "limit": 1,
            "before": null,
            "after": "b91099db-57b8-4615-bb15-de167c72827c"
        },
        "latestSynchronization": {
            "type": "synchronization",
            "id": "fc6100df-291a-4d57-a755-2d833e9dfa8d",
            "attributes": {
                "updatedAt": "2021-02-11T15:00:44.400Z",
                "subtype": "accountTransactions",
                "status": "error",
                "resourceType": "account",
                "resourceId": "44f261ec-2cc9-47f8-8cad-bcd6994629ed",
                "errors": [
                    {
                        "detail": "Authorization has expired. Please reauthorize the account.",
                        "code": "authorizationExpired"
                    }
                ],
                "createdAt": "2021-02-11T15:00:44.237Z"
            }
        }
    },
    "links": {
        "next": "https://api.ibanity.com/ponto-connect/accounts/44f261ec-2cc9-47f8-8cad-bcd6994629ed/transactions?page[after]=b91099db-57b8-4615-bb15-de167c72827c&page[limit]=1",
        "first": "https://api.ibanity.com/ponto-connect/accounts/44f261ec-2cc9-47f8-8cad-bcd6994629ed/transactions?page[limit]=1"
    },
    "data": [
        {% for transaction in transactions %}
            {
                "type": "transaction",
                "relationships": {
                    "account": {
                        "links": {
                            "related": "https://api.ibanity.com/ponto-connect/accounts/44f261ec-2cc9-47f8-8cad-bcd6994629ed"
                        },
                        "data": {
                            "type": "account",
                            "id": "44f261ec-2cc9-47f8-8cad-bcd6994629ed"
                        }
                    }
                },
                "id": "b91099db-57b8-4615-bb15-de167c72827c",
                "attributes": {
                    "valueDate": "2020-06-19T00:00:00.000Z",
                    "remittanceInformationType": "unstructured",
                    "remittanceInformation": "Tempora animi qui!",
                    "purposeCode": "CASH",
                    "proprietaryBankTransactionCode": "63058",
                    "mandateId": "486",
                    "internalReference": "ae7976b0-78b7-492f-99d2-8e85ab5ea006",
                    "executionDate": "2020-06-19T00:00:00.000Z",
                    "endToEndId": "a965fa0788c241f3b13df3fbda744a07",
                    "digest": "2acc87e558b508f7b4bd21829adee7aaace14eedde2b65ec8459201ea7a76050",
                    "description": "Wire transfer",
                    "currency": "EUR",
                    "creditorId": "315",
                    "counterpartReference": "BE62467153327786",
                    "counterpartName": "Rice Ltd",
                    "bankTransactionCode": "PMNT-IRCT-ESCT",
                    "amount": 2.76,
                    "additionalInformation": "Aut."
                }
            }
        {% endfor %}
    ]
}