{{
    {
        "access_token": "{{ tokens.getAccessToken }}",
        "expires_in": "{{ 1799 }}",
        "refresh_token": "{{ tokens.getRefreshToken  }}",
        "scope": "offline_access ai pi name",
        "token_type": "bearer"
    }|json_encode|raw
}}

