{
    "access_token": "{{ tokens.accessToken }}",
    "expires_in": {{ 1799 }},
    "refresh_token": "{{ tokens.refreshToken }}",
    "scope": "offline_access ai pi name",
    "token_type": "bearer"
}