{% extends '@BankingFakeAPI/base.html.twig' %}

{% block body %}

    {% include '@BankingFakeAPI/auth/partial/header.html.twig' %}

    <div class="d-flex container flex-grow-1 bg-white justify-content-center align-items-center">

        <p class="h3 text-color text-success">Success</p>

    </div>

    {% include '@BankingFakeAPI/auth/partial/footer.html.twig' %}

{% endblock %}