{% extends '@BankingFakeAPI/base.html.twig' %}

{% block body %}

    {% include '@BankingFakeAPI/auth/partial/header.html.twig' %}

    <div class="d-flex container flex-grow-1 bg-white justify-content-center align-items-center">

        <form method="post" action="{{ path('fake_ponto_auth_create_account_post', app.request.query.all) }}">
            {% for account in accounts %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="{{ account.id }}">
                    <label class="form-check-label" for="exampleCheck1"><b>{{ account.holderName }}</b> - {{ account.reference }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    {% include '@BankingFakeAPI/auth/partial/footer.html.twig' %}

{% endblock %}