{% extends '@BankingFakeAPI/base.html.twig' %}

{% block body %}




    {% include '@BankingFakeAPI/auth/partial/header.html.twig' %}

    <div class="d-flex container flex-grow-1 bg-white justify-content-center align-items-center">

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <a class="btn btn-primary" href="{{ path('fake_ponto_auth_create_account', app.request.query.all) }}" rel="keep-params">Login</a>
        </form>

    </div>

    {% include '@BankingFakeAPI/auth/partial/footer.html.twig' %}

{% endblock %}