{% extends '@BankingFakeAPI/base.html.twig' %}

{% block content %}
    <div class="d-flex container flex-grow-1 bg-white">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 p-2">

            <div id="editor_holder" class="d-block overflow-auto">
            </div>


            <div class="d-flex flex-row">
                <div id="submit" class="btn btn-primary m-2">
                    Update
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const element = document.getElementById('editor_holder')

            const editor = new JSONEditor(element, {
                schema: {
                    type: 'object',
                    title: 'financialInstitutionAccount',
                    properties: {
                        status: {
                            type: 'string',
                            enum: [
                                "pending",
                                "running",
                                "success",
                                "error"
                            ],
                            default: "{{ synchronization.status }}"
                        },
                        resourceType: {
                            type: 'string',
                            enum: [
                                'account'
                            ],
                            default: "{{ synchronization.resourceType }}"
                        },
                        resourceId: {
                            type: 'string',
                            default: "{{ synchronization.resourceId }}"
                        },
                        errors: {
                            type: "array",
                            format: 'table',
                            items: {
                                type: 'object',
                                title: 'errors',
                                properties: {
                                    detail: {
                                        type: 'string',
                                    },
                                    code: {
                                        type: 'string',
                                        enum: [
                                            'authorizationInvalid',
                                            'authorizationRevoked',
                                            'authorizationExpired',
                                            'technicalFailure'
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                theme: 'bootstrap4'
            });

            // Hook up the submit button to log to the console
            document.getElementById('submit').addEventListener('click',function() {
                // Get the value from the editor
                console.log(editor.getValue());

                fetch("{{ url('fake_banking_sync_update_post', {'id': app.request.get('id')}) }}", {
                    method: 'POST',
                    body: JSON.stringify(editor.getValue())
                }).then(function(response) {
                    if(response.status == 200) {
                        alert("updated");
                    }
                    else if(response.status == 422) {
                        response.json()
                            .then(function(content) {
                                alert(content.error);
                            })
                    }
                    else {
                        alert('Error')
                    }
                })
            });
        })

    </script>
{% endblock %}