{% extends '@BankingFakeAPI/base.html.twig' %}

{% block content %}
    <div class="d-flex container flex-grow-1 bg-white">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 p-2">
{#            <form id="upload-account" action="{{ path('fake_banking_account_upload') }}" class="dropzone m-2">#}
{#            </form>#}

            <div id="editor_holder" class="d-block overflow-auto">
            </div>

            <div id="submit" class="btn btn-primary">
                Submit
            </div>

{#            <div>#}
{#                <a class="btn btn-primary"#}
{#                   href="{{ path('fake_banking_account_example_download') }}">Download Example</a>#}
{#            </div>#}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const element = document.getElementById('editor_holder')

            const editor = new JSONEditor(element, {
                schema: {
                    type: 'object',
                    title: 'financialInstitutionAccount',
                    properties: {
                        subtype: {
                            type: 'string',
                            enum: [
                                "checking",
                                "savings",
                                "securities"
                            ],
                        },
                        referenceType: {
                            type: 'string',
                            enum: [
                                "IBAN",
                            ]
                        },
                        reference: {
                            type: "string"
                        },
                        product: {
                            type: "string"
                        },
                        holderName: {
                            type: "string"
                        },
                        description: {
                            type: "string"
                        },
                        currentBalanceReferenceDate: {
                            type: "string",
                            format: "date"
                        },
                        currentBalanceChangedAt: {
                            type: "string",
                            format: "date"
                        },
                        currentBalance: {
                            type: "number",
                        },
                        currency: {
                            type: "string",
                            enum: [
                                "EUR"
                            ]
                        },
                        availableBalanceReferenceDate: {
                            type: "string",
                            format: "date"
                        },
                        availableBalanceChangedAt: {
                            type: "string",
                            format: "date"
                        },
                        availableBalance: {
                            type: "number"
                        }
                    }
                },
                theme: 'bootstrap4'
            });

            // Hook up the submit button to log to the console
            document.getElementById('submit').addEventListener('click',function() {
                // Get the value from the editor
                console.log(editor.getValue());

                fetch("{{ url('fake_banking_account_create', ) }}", {
                    method: 'POST',
                    body: JSON.stringify(editor.getValue())
                }).then(function(response) {
                    if(response.status == 200) {
                        alert("saved");
                    }
                    else if(response.status == 422) {
                        response.json()
                            .then(function(content) {
                                alert(content.error);
                            })
                    }
                    else {
                        alert('Error')
                    }
                })
            });
        })

    </script>
{% endblock %}