{% extends '@BankingFakeAPI/base.html.twig' %}

{% block content %}
    <div class="d-flex container flex-grow-1 bg-white">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 p-2">

            <div id="editor_holder" class="d-block overflow-auto">
            </div>


            <div class="d-flex flex-row">
                <div id="submit" class="btn btn-primary m-2">
                    Update
                </div>

                <a href="{{ path('fake_banking_transaction', {'idAccount': app.request.get('id')}) }}" class="btn btn-primary m-2">
                    Transactions
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const element = document.getElementById('editor_holder')

            const editor = new JSONEditor(element, {
                schema: {
                    type: 'object',
                    title: 'financialInstitutionAccount',
                    properties: {
                        subtype: {
                            type: 'string',
                            enum: [
                                "checking",
                                "savings",
                                "securities"
                            ],
                            default: "{{ account.subType }}"
                        },
                        referenceType: {
                            type: 'string',
                            enum: [
                                "IBAN",
                            ],
                            default: "{{ account.referenceType }}"
                        },
                        reference: {
                            type: "string",
                            default: "{{ account.reference }}"
                        },
                        product: {
                            type: "string",
                            default: "{{ account.product }}"
                        },
                        holderName: {
                            type: "string",
                            default: "{{ account.holderName }}"
                        },
                        description: {
                            type: "string",
                            default: "{{ account.description }}"
                        },
                        currentBalanceReferenceDate: {
                            type: "string",
                            format: "date",
                            default: "{{ account.currentBalanceReferenceDate|date('Y-m-d') }}"
                        },
                        currentBalanceChangedAt: {
                            type: "string",
                            format: "date",
                            default: "{{ account.currentBalanceChangedAt|date('Y-m-d') }}"
                        },
                        currentBalance: {
                            type: "number",
                            default: "{{ account.currentBalance }}"
                        },
                        currency: {
                            type: "string",
                            enum: [
                                "EUR"
                            ],
                            default: "{{ account.currency }}"
                        },
                        availableBalanceReferenceDate: {
                            type: "string",
                            format: "date",
                            default: "{{ account.availableBalanceReferenceDate|date('Y-m-d') }}"
                        },
                        availableBalanceChangedAt: {
                            type: "string",
                            format: "date",
                            default: "{{ account.availableBalanceChangedAt|date('Y-m-d') }}"
                        },
                        availableBalance: {
                            type: "number",
                            default: "{{ account.availableBalance }}"
                        }
                    }
                },
                theme: 'bootstrap4'
            });

            // Hook up the submit button to log to the console
            document.getElementById('submit').addEventListener('click',function() {
                // Get the value from the editor
                console.log(editor.getValue());

                fetch("{{ url('fake_banking_account_update_post', {'id': app.request.get('id')}) }}", {
                    method: 'POST',
                    body: JSON.stringify(editor.getValue())
                }).then(function(response) {
                    if(response.status == 200) {
                        alert("updated");
                    }
                    else if(response.status == 422) {
                        response.json()
                            .then(function(content) {
                                alert(content.error);
                            })
                    }
                    else {
                        alert('Error')
                    }
                })
            });
        })

    </script>
{% endblock %}