<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100 p-0 bg-light overflow-auto">
        {% block body %}

            {% include '@BankingFakeAPI/partial/header.html.twig' %}

            {% block content %}{% endblock %}

            {% include '@BankingFakeAPI/partial/footer.html.twig' %}

        {% endblock %}
    </body>
</html>
