{% extends '@BankingFakeAPI/base.html.twig' %}

{% block content %}
    <div class="d-flex container flex-grow-1 bg-white">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 p-2">

            <div id="editor_holder" class="d-block overflow-auto">
            </div>

            <div id="submit" class="btn btn-primary">
                Submit
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const element = document.getElementById('editor_holder')

            const editor = new JSONEditor(element, {
                schema: {
                    type: 'object',
                    title: 'Transaction',
                    properties: {
                        valueDate: {
                            type: "string",
                            format: "date"
                        },
                        executionDate: {
                            type: "string",
                            format: "date"
                        },
                        amount: {
                            type: "number"
                        },
                        currency: {
                            type: "string",
                            enum: [
                                "EUR",
                            ]
                        },
                        counterpartName: {
                            type: "string",
                        },
                        counterpartReference: {
                            type: "string"
                        },
                        description: {
                            type: "string"
                        },
                        remittanceInformation: {
                            type: "string"
                        },
                        remittanceInformationType: {
                            type: "string",
                            enum: [
                                "structured",
                                "unstructured"
                            ]
                        },
                        endToEndId: {
                            type: "string"
                        },
                        purposeCode: {
                            type: "string"
                        },
                        mandateId: {
                            type: "string"
                        },
                        creditorId: {
                            type: "string"
                        },
                        additionalInformation: {
                            type: "string"
                        },
                        proprietaryBankTransactionCode: {
                            type: "string"
                        },
                        bankTransactionCode: {
                            type: "string"
                        }
                    }
                },
                theme: 'bootstrap4'
            });

            // Hook up the submit button to log to the console
            document.getElementById('submit').addEventListener('click',function() {
                // Get the value from the editor
                console.log(editor.getValue());

                fetch("{{ url('fake_banking_transaction_create_post', {'idAccount': app.request.get('idAccount')}) }}", {
                    method: 'POST',
                    body: JSON.stringify(editor.getValue())
                }).then(function(response) {
                    if(response.status == 200) {
                        alert("saved");
                    }
                    else if(response.status == 422) {
                        response.json()
                            .then(function(content) {
                                alert(content.error);
                            })
                    }
                    else {
                        alert('Error')
                    }
                })
            });
        })
    </script>
{% endblock %}