{% extends '@BankingFakeAPI/base.html.twig' %}

{% block content %}
    <div class="d-flex container flex-grow-1 bg-white">
        <div class="d-flex justify-content-center align-items-center flex-column w-100 p-2">



            <div class="d-flex container flex-grow-1 bg-white">
                <div class="d-flex justify-content-center flex-row w-100">
                    <div class="card m-2 w-50">
                        <div class="card-head">
                            <h5 class="card-title">Transactions</h5>
                        </div>
                        <div class="card-body">
                            <div class="table table-hover">
                                <table class="table">
                                    <thead class="thead-light">
                                    <th scope="col">
                                        #ID
                                    </th>
                                    <th scope="col">
                                        #ValueDate
                                    </th>
                                    </thead>
                                    <tbody class="overflow-auto">
                                    {% for transaction in transactions %}
                                        <tr>
                                            <td>
                                                {{ transaction.id }}
                                            </td>
                                            <td>
                                                {{ transaction.valueDate|date('Y-m-d') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <footer class="m-2">
                            <a href="{{ path('fake_banking_transaction_create', {'idAccount': app.request.get('idAccount')}) }}" class="btn btn-primary rounded py-1">+</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}