{% extends '@BankingFakeAPI/base.html.twig' %}

{% block body %}

    {% include '@BankingFakeAPI/partial/header.html.twig' %}

    <div class="d-flex container flex-grow-1 bg-white">
        <div class="d-flex flex-row w-100">
            <div class="card m-2 w-50">
                <div class="card-head">
                    <h5 class="card-title">Synchronization Active Requests</h5>
                </div>
                <div class="card-body">
                    <div class="table table-hover">
                        <table class="table">
                            <thead class="thead-light">
                            <th scope="col">
                                #ID
                            </th>
                            <th scope="col">
                                #Date
                            </th>
                            </thead>
                            <tbody class="overflow-auto">
                            {% for synchronization in synchronizations %}
                                <tr>
                                    <td>
                                        <a href="{{ path('fake_banking_sync', {'id': synchronization.id }) }}">
                                            {{ synchronization.id }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ synchronization.updatedAt|date('Y/m/d H:m:s') }}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <footer class="m-2">
                    <a href="#" class="btn btn-primary rounded py-1">+</a>
                </footer>
            </div>

            <div class="d-flex card m-2 w-50">
                <div class="card-head">
                    <h5 class="card-title">Financial Accounts</h5>
                </div>
                <div class="card-body">
                    <div class="table table-hover">
                        <table class="table">
                            <thead class="thead-light">
                            <th scope="col">
                                #ID
                            </th>
                            <th scope="col">
                                #HolderName
                            </th>
                            </thead>
                            <tbody class="overflow-auto">
                            {% for account in accounts %}
                                <tr>
                                    <td>
                                        <a href="{{ path('fake_banking_account_update', {'id': account.id}) }}">
                                            {{ account.id }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ account.holderName }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <footer class="m-2">
                    <a href="{{ path('fake_banking_accounts') }}" class="btn btn-primary rounded py-1">+</a>
                </footer>
            </div>
        </div>
    </div>


    {% include '@BankingFakeAPI/partial/footer.html.twig' %}
{% endblock %}
