<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Ibanity Fake Auth</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fake_ponto_auth_index') }}">Home</a>
            </li>
        </ul>
    </nav>
</header>